TOKEN=telegram_bot_token_here

RM_HOST=192.168.233.130
RM_PORT=2222
RM_USER=novikovtimur
RM_PASSWORD=linux_password_here

DB_HOST=192.168.233.130
DB_PORT=5432
DB_DATABASE=bot_db
DB_USER=bot_user
DB_PASSWORD=bot_password

DB_REPL_HOST=192.168.233.131
DB_REPL_PORT=5432
DB_REPL_USER=replicator
DB_REPL_PASSWORD=repl_password
