[defaults]
inventory = ansible/inventory
host_key_checking = False
interpreter_python = auto_silent
retry_files_enabled = False

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
